#classpectSelected {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 2em;
}

#classpectInfo {
  display: flex;
  gap: 2vw;

  justify-content: center;
  margin-top: 1em;
}

#classpectInfo > div {
  background: rgba(0, 0, 0, 0.5);
  width: 50%;
}

.infoBlock {
  margin: 0.5em;
  padding: 0.5em;

  background: black;
  border-radius: 0.5em;
}
.infoBlockTitle {
  font-weight: bold;
  font-size: 1.2em;
  text-decoration: underline;
  margin-bottom: 0.2em;
}